<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeadowLark Trawel</title>
</head>
<body>
    <header><img src="/img/logo.png" alt="MeadowLark Travel logotype"></header>
    {{{body}}}
</body>
</html>